html{
    font-size: 16px;
}

body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
    display: grid;
    grid-template: 100px 50px 8fr 50px 1/ repeat(12,1fr);
}

/*-----------------header-------------------------*/
header{
    display: flex;
    grid-column: 1 / span 12;
    align-items: center;
    background-color: #353535;
    justify-content: space-around;
}

header #search-box ul{
   display: flex;
   list-style-type: none;
}

header #search-box ul li:first-child{
    color: #fff;
}  

header #search-box ul li{
    padding: 0 0.5rem;
}

header #search-box ul .search-container input{
    padding: 15px;
    border: none;
}

header #search-box ul .search-container input:first-child{
    width: 50rem;
}

header nav{
    display: flex;
}

header nav .toggle-layout-buttons{
    display: flex;
    list-style-type: none;
    color: #fff;
    font-size: 1.5rem;
}

header nav .toggle-layout-buttons li{
    padding: 0 0.5rem;
}

header nav .toggle-layout-buttons li:nth-child(2), 
header nav .toggle-layout-buttons li:nth-child(3){
    border: 1px solid white;
}

/*-----------------header ends here-----------------------*/

#sortBy{
    display: flex;
    justify-content: space-around;
    grid-column: 1 / span 12;
    background-color: #d8d8d8;
    border: 1px solid black;
    align-items: center;
}

/*styling tags Filter select options*/
#tagsDialog{
    padding: 1rem 4rem;
}

#tagsDialog select{
    padding: 1.5rem;
    margin-bottom: 1rem;
}

/*partition the main divs when continuing*/

main{
    grid-column: 1 / span 12;
    background-color: #d8d8d8;
}

main #newsList{
    grid-column: 1 / span 12;
}

main #newsList ul{
  border: 1px solid black;
  padding: 6rem;
  background-image: url('../images/loading.gif');
  margin: 2rem;
  background-repeat: no-repeat;
  background-color: #fff;
}

#show-pagination{
    display: flex;
    justify-content: space-around;
    grid-column: 1 / span 12;
    background-color: #d8d8d8;
    padding: 1rem;
}

#show-pagination .pageLoadBtns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#show-pagination .pageLoadBtns #prevPageLoadBtn,
#show-pagination .pageLoadBtns #nextPageLoadBtn{
    margin-right: 0.4rem;
    padding: 0.7rem;
}

#show-pagination .pageLoadBtns p i{
    margin: 0.2rem;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 12;
    border: 1px solid black;
    background-color: #353535;
}

footer p{
    color: #fff;
}

/*media queries*/
@media only screen and (max-width: 480px){
    header #search-box ul .search-container input:first-child{
        width: 15rem;
    }
    
}
